# Plan


**Scenario**

Você acaba de ser contratado como Cientista de Dados da empresa
Fome Zero, e a sua principal tarefa nesse momento é ajudar o CEO Kleiton Guerra
a identificar pontos chaves da empresa, respondendo às perguntas que ele fizer
utilizando dados!

A empresa Fome Zero é uma marketplace de restaurantes. Ou seja, seu core
business é facilitar o encontro e negociações de clientes e restaurantes. Os
restaurantes fazem o cadastro dentro da plataforma da Fome Zero, que disponibiliza
informações como endereço, tipo de culinária servida, se possui reservas, se faz
entregas e também uma nota de avaliação dos serviços e produtos do restaurante,
dentre outras informações.

**O Desafio**

O CEO Guerra também foi recém contratado e precisa entender melhor o negócio
para conseguir tomar as melhores decisões estratégicas e alavancar ainda mais a
Fome Zero, e para isso, ele precisa que seja feita uma análise nos dados da
empresa e que sejam gerados dashboards, a partir dessas análises, para responder
às seguintes perguntas:

**Geral**
1. Quantos restaurantes únicos estão registrados?

2. Quantos países únicos estão registrados?

3. Quantas cidades únicas estão registradas?

4. Qual o total de avaliações feitas?

5. Qual o total de tipos de culinária registrados?

**País**
1. Qual o nome do país que possui mais cidades registradas?

2. Qual o nome do país que possui mais restaurantes registrados?

3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4
registrados?

4. Qual o nome do país que possui a maior quantidade de tipos de culinária
distintos?

5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem
entrega?

7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam
reservas?

8. Qual o nome do país que possui, na média, a maior quantidade de avaliações
registrada?

9. Qual o nome do país que possui, na média, a maior nota média registrada?

10. Qual o nome do país que possui, na média, a menor nota média registrada?

11. Qual a média de preço de um prato para dois por país?

**Cidade**
1. Qual o nome da cidade que possui mais restaurantes registrados?

2. Qual o nome da cidade que possui mais restaurantes com nota média acima de
4?

3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de
2.5?

4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?

5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária
distintas?

6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
reservas?

7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem
entregas?

8. Qual o nome da cidade que possui a maior quantidade de restaurantes que
aceitam pedidos online?

**Restaurantes** 
1. Qual o nome do restaurante que possui a maior quantidade de avaliações?

2. Qual o nome do restaurante com a maior nota média?

3. Qual o nome do restaurante que possui o maior valor de uma prato para duas
pessoas?

4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor
média de avaliação?

5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que
possui a maior média de avaliação?

6. Os restaurantes que aceitam pedido online são também, na média, os
restaurantes que mais possuem avaliações registradas?

7. Os restaurantes que fazem reservas são também, na média, os restaurantes que
possuem o maior valor médio de um prato para duas pessoas?

8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América
possuem um valor médio de prato para duas pessoas maior que as churrascarias
americanas (BBQ)?

**Tipos de Culinária**
1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
restaurante com a maior média de avaliação?

2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
restaurante com a menor média de avaliação?

3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
restaurante com a maior média de avaliação?

4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
restaurante com a menor média de avaliação?

5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
restaurante com a maior média de avaliação?

6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
restaurante com a menor média de avaliação?

7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
restaurante com a maior média de avaliação?

8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
restaurante com a menor média de avaliação?

9. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
restaurante com a maior média de avaliação?

10. Dos restaurantes que possuem o tipo de culinária caseira, qual o nome do
restaurante com a menor média de avaliação?

11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas
pessoas?

12. Qual o tipo de culinária que possui a maior nota média?

13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
online e fazem entregas?

# Analyze

In [1]:
# Import of libraries
import pandas as pd
import inflection

## Process

In [2]:
df = pd.read_csv('zomato.csv')
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [3]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

Verifying duplicated data

In [4]:
df.shape

(7527, 21)

In [5]:
df.duplicated().sum()

585

In [6]:
df = df.drop_duplicates()

Verifying null data

In [7]:
df.isna().sum()

Restaurant ID            0
Restaurant Name          0
Country Code             0
City                     0
Address                  0
Locality                 0
Locality Verbose         0
Longitude                0
Latitude                 0
Cuisines                13
Average Cost for two     0
Currency                 0
Has Table booking        0
Has Online delivery      0
Is delivering now        0
Switch to order menu     0
Price range              0
Aggregate rating         0
Rating color             0
Rating text              0
Votes                    0
dtype: int64

In [8]:
df = df.dropna()

In [9]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858
5,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,...,Botswana Pula(P),0,0,0,0,3,4.7,3F7E00,Excellent,930

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6929 entries, 0 to 7526
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         6929 non-null   int64
 1   Restaurant Name       6929 non-null   object
 2   Country Code          6929 non-null   int64
 3   City                  6929 non-null   object
 4   Address               6929 non-null   object
 5   Locality              6929 non-null   object
 6   Locality Verbose      6929 non-null   object
 7   Longitude             6929 non-null   float64
 8   Latitude              6929 non-null   float64
 9   Cuisines              6929 non-null   object
 10  Average Cost for two  6929 non-null   int64
 11  Currency              6929 non-null   object
 12  Has Table booking     6929 non-null   int64
 13  Has Online delivery   6929 non-null   int64
 14  Is delivering now     6929 non-null   int64
 15  Switch to order menu  6929 non-null   int64
 16  Price range           6929 non-null   int64
 17  Aggregate rating      6929 non-null   float64
 18  Rating color          6929 non-null   object
 19  Rating text           6929 non-null   object
 20  Votes                 6929 non-null   int64
dtypes: float64(3), int64(9), object(9)
memory usage: 1.2+ MB

## Analyze

In [11]:
COUNTRIES = {
1: "India",
14: "Australia",
30: "Brazil",
37: "Canada",
94: "Indonesia",
148: "New Zeland",
162: "Philippines",
166: "Qatar",
184: "Singapure",
189: "South Africa",
191: "Sri Lanka",
208: "Turkey",
214: "United Arab Emirates",
215: "England",
216: "United States of America",
}

def country_name(country_id):
    return COUNTRIES[country_id]

In [12]:
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"

In [13]:
COLORS = {
"3F7E00": "darkgreen",
"5BA829": "green",
"9ACD32": "lightgreen",
"CDD614": "orange",
"FFBA00": "red",
"CBCBC8": "darkred",
"FF7800": "darkred",
}

def color_name(color_code):
    return COLORS[color_code]

In [14]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: inflection.titleize(x)
    snakecase = lambda x: inflection.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

In [15]:
df = rename_columns(df)
df.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858
5,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,...,Botswana Pula(P),0,0,0,0,3,4.7,3F7E00,Excellent,930

### Geral

In [16]:
def unique_thing(col):
    return len(df[col].unique().tolist())

In [17]:
# 1. Quantos restaurantes únicos estão registrados?
unique_thing('restaurant_id')

6929

In [18]:
# 2. Quantos países únicos estão registrados?
unique_thing('country_code')

15

In [19]:
# 3. Quantas cidades únicas estão registradas?
unique_thing('city')

125

In [20]:
# 4. Qual o total de avaliações feitas?
df['votes'].sum()

4194533

In [21]:
# 5. Qual o total de tipos de culinária registrados?
df["cuisines"] = df.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])
unique_thing('cuisines')

165

### País

In [22]:
df.columns

Index(['restaurant_id', 'restaurant_name', 'country_code', 'city', 'address',
       'locality', 'locality_verbose', 'longitude', 'latitude', 'cuisines',
       'average_cost_for_two', 'currency', 'has_table_booking',
       'has_online_delivery', 'is_delivering_now', 'switch_to_order_menu',
       'price_range', 'aggregate_rating', 'rating_color', 'rating_text',
       'votes'],
      dtype='object')

In [23]:
# 1. Qual o nome do país que possui mais cidades registradas?
country_city_counts  = df.groupby('country_code')['city'].nunique()
most_cities_country = country_city_counts.idxmax()
country_name(most_cities_country)

'India'

In [24]:
# 2. Qual o nome do país que possui mais restaurantes registrados?
country_rest_counts  = df.groupby('country_code')['restaurant_id'].nunique()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'India'

In [25]:
# 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?
df_4star = df[df['price_range'] == 4]
country_rest_count = df_4star.groupby('country_code')['restaurant_id'].nunique()
most_rest_country = country_rest_count.idxmax()
country_name(most_rest_country)

'United States of America'

In [26]:
# 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?
country_rest_counts  = df.groupby('country_code')['cuisines'].nunique()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'India'

In [27]:
# 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?
country_rest_counts  = df.groupby('country_code')['votes'].sum()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'India'

In [28]:
# 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?
country_rest_counts  = df.groupby('country_code')['has_online_delivery'].sum()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'India'

In [29]:
# 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?
country_rest_counts  = df.groupby('country_code')['has_table_booking'].sum()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'India'

In [30]:
# 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?
country_rest_counts  = df.groupby('country_code')['votes'].mean()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'Indonesia'

In [31]:
# 9. Qual o nome do país que possui, na média, a maior nota média registrada?
country_rest_counts  = df.groupby('country_code')['aggregate_rating'].mean()
most_rest_country = country_rest_counts.idxmax()
country_name(most_rest_country)

'Indonesia'

In [32]:
# 10. Qual o nome do país que possui, na média, a menor nota média registrada?
country_rest_counts  = df.groupby('country_code')['aggregate_rating'].mean()
most_rest_country = country_rest_counts.idxmin()
country_name(most_rest_country)

'Brazil'

In [33]:
# 11. Qual a média de preço de um prato para dois por país?
country_rest_counts  = df.groupby('country_code')['average_cost_for_two'].mean()
country_rest_counts

country_code
1         704.400514
14     138959.783333
30        138.812500
37         41.861111
94     303000.000000
148        62.154812
162      1227.825000
166       174.000000
184       141.437500
189       339.228324
191      2579.375000
208       128.584906
214       153.716667
215        43.510000
216        55.029840
Name: average_cost_for_two, dtype: float64

### Cidade

In [34]:
# 1. Qual o nome da cidade que possui mais restaurantes registrados?
city_restaurant_counts = df.groupby('city')['restaurant_id'].count()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Abu Dhabi'

In [35]:
# 2. Qual o nome da cidade que possui mais restaurantes com nota média acima de 4?
df_4star = df[df['aggregate_rating'] > 4]
city_restaurant_counts = df_4star.groupby('city')['restaurant_id'].count()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Bangalore'

In [36]:
# 3. Qual o nome da cidade que possui mais restaurantes com nota média abaixo de 2.5?
df_25star = df[df['aggregate_rating'] < 2.5]
city_restaurant_counts = df_25star.groupby('city')['restaurant_id'].count()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Gangtok'

In [37]:
df['average_cost_for_two']

0       1100
2       3100
3        800
4        700
5        700
        ...
7522     300
7523      45
7524     140
7525      95
7526     150
Name: average_cost_for_two, Length: 6929, dtype: int64

In [38]:
# 4. Qual o nome da cidade que possui o maior valor médio de um prato para dois?
city_restaurant_counts = df.groupby('city')['average_cost_for_two'].mean()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Adelaide'

In [39]:
# 5. Qual o nome da cidade que possui a maior quantidade de tipos de culinária distintas?
city_restaurant_counts = df.groupby('city')['cuisines'].nunique()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Birmingham'

In [40]:
# 6. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem reservas?
city_restaurant_counts = df.groupby('city')['has_table_booking'].sum()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Bangalore'

In [41]:
# 7. Qual o nome da cidade que possui a maior quantidade de restaurantes que fazem entregas?
city_restaurant_counts = df.groupby('city')['is_delivering_now'].sum()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Amritsar'

In [42]:
# 8. Qual o nome da cidade que possui a maior quantidade de restaurantes que aceitam pedidos online?
city_restaurant_counts = df.groupby('city')['has_online_delivery'].sum()
most_restaurants_city = city_restaurant_counts.idxmax()
most_restaurants_city

'Bhopal'

### Restaurantes

In [43]:
# 1. Qual o nome do restaurante que possui a maior quantidade de avaliações?
restaurant_review_counts = df.groupby('restaurant_name')['votes'].sum()
most_reviews_restaurant = restaurant_review_counts.idxmax()
most_reviews_restaurant

"Domino's Pizza"

In [44]:
df['average_cost_for_two']

0       1100
2       3100
3        800
4        700
5        700
        ...
7522     300
7523      45
7524     140
7525      95
7526     150
Name: average_cost_for_two, Length: 6929, dtype: int64

In [45]:
# 2. Qual o nome do restaurante com a maior nota média?
restaurant_review_counts = df.groupby('restaurant_name')['aggregate_rating'].mean()
most_reviews_restaurant = restaurant_review_counts.idxmax()
most_reviews_restaurant

'5 Napkin Burger'

In [46]:
# 3. Qual o nome do restaurante que possui o maior valor de uma prato para duas pessoas?
restaurant_review_counts = df.groupby('restaurant_name')['average_cost_for_two'].max()
most_reviews_restaurant = restaurant_review_counts.idxmax()
most_reviews_restaurant

"d'Arry's Verandah Restaurant"

In [47]:
# 4. Qual o nome do restaurante de tipo de culinária brasileira que possui a menor média de avaliação?
df_brazil = df[df['cuisines'] == 'Brazilian']
restaurant_review_counts = df_brazil.groupby('restaurant_name')['aggregate_rating'].min()
most_reviews_restaurant = restaurant_review_counts.idxmin()
most_reviews_restaurant

'Bar do Luiz Fernandes'

In [48]:
# 5. Qual o nome do restaurante de tipo de culinária brasileira, e que é do Brasil, que possui a maior média de avaliação?
df_brazil = df[(df['cuisines'] == 'Brazilian') & (df['country_code'] == 30)]
restaurant_review_counts = df_brazil.groupby('restaurant_name')['aggregate_rating'].max()
most_reviews_restaurant = restaurant_review_counts.idxmax()
most_reviews_restaurant

'Aprazível'

In [49]:
# 6. Os restaurantes que aceitam pedido online são também, na média, os restaurantes que mais possuem avaliações registradas?

# Filtrar os restaurantes que aceitam pedidos online
df_online = df[df['has_online_delivery'] == 1]

# Filtrar os restaurantes que não aceitam pedidos online
df_no_online = df[df['has_online_delivery'] == 0]

# Calcular a média do número de avaliações para ambos os grupos
mean_reviews_online = df_online['votes'].mean()
mean_reviews_no_online = df_no_online['votes'].mean()

print(f'Média do número de avaliações nos restaurantes que aceitam pedidos online: {mean_reviews_online}')
print(f'Média do número de avaliações nos restaurantes que não aceitam pedidos online: {mean_reviews_no_online}')

# Comparação
if mean_reviews_online > mean_reviews_no_online:
    print("Sim, os restaurantes que aceitam pedidos online possuem, na média, um maior número de avaliações registradas.")
else:
    print("Não, os restaurantes que aceitam pedidos online não possuem, na média, um maior número de avaliações registradas.")

Média do número de avaliações nos restaurantes que aceitam pedidos online: 838.8216639209226
Média do número de avaliações nos restaurantes que não aceitam pedidos online: 479.4210175516552
Sim, os restaurantes que aceitam pedidos online possuem, na média, um maior número de avaliações registradas.

In [50]:
# 7. Os restaurantes que fazem reservas são também, na média, os restaurantes que 
# possuem o maior valor médio de um prato para duas pessoas?

# Filtrar os restaurantes que fazem reservas
df_reserva = df[df['has_table_booking'] == 1]

# Filtrar os restaurantes que não fazem reservas
df_no_reserva = df[df['has_table_booking'] == 0]

# Calcular a média do valor do prato para duas pessoas para ambos os grupos
mean_cost_with_reservation = df_reserva['average_cost_for_two'].mean()
mean_cost_without_reservation = df_no_reserva['average_cost_for_two'].mean()

print(f'Média do valor do prato para duas pessoas nos restaurantes que fazem reservas: {mean_cost_with_reservation}')
print(f'Média do valor do prato para duas pessoas nos restaurantes que não fazem reservas: {mean_cost_without_reservation}')

# Comparação
if mean_cost_with_reservation > mean_cost_without_reservation:
    print("Sim, os restaurantes que fazem reservas possuem, na média, um valor médio de um prato para duas pessoas maior.")
else:
    print("Não, os restaurantes que fazem reservas não possuem, na média, um valor médio de um prato para duas pessoas maior.")

Média do valor do prato para duas pessoas nos restaurantes que fazem reservas: 69998.42380952381
Média do valor do prato para duas pessoas nos restaurantes que não fazem reservas: 3488.5968658780153
Sim, os restaurantes que fazem reservas possuem, na média, um valor médio de um prato para duas pessoas maior.

In [51]:
# 8. Os restaurantes do tipo de culinária japonesa dos Estados Unidos da América
# possuem um valor médio de prato para duas pessoas maior que as churrascarias americanas (BBQ)?

df_usa = df[df['country_code'] == 216]
df_japanese = df_usa[df_usa['cuisines'] == 'Japanese']

df_bbq = df[df['cuisines'] == 'BBQ']
 

 # Calcular a média do valor do prato para duas pessoas para cada grupo
mean_cost_japanese = df_japanese['average_cost_for_two'].mean()
mean_cost_bbq = df_bbq['average_cost_for_two'].mean()

print(f'Média do valor do prato para duas pessoas em restaurantes japoneses: {mean_cost_japanese}')
print(f'Média do valor do prato para duas pessoas em churrascarias (BBQ): {mean_cost_bbq}')

# Comparação
if mean_cost_japanese > mean_cost_bbq:
    print("Sim, os restaurantes japoneses possuem, na média, um valor médio de prato para duas pessoas maior que as churrascarias (BBQ).")
else:
    print("Não, os restaurantes japoneses não possuem, na média, um valor médio de prato para duas pessoas maior que as churrascarias (BBQ).")

Média do valor do prato para duas pessoas em restaurantes japoneses: 56.40625
Média do valor do prato para duas pessoas em churrascarias (BBQ): 14285.625
Não, os restaurantes japoneses não possuem, na média, um valor médio de prato para duas pessoas maior que as churrascarias (BBQ).

### Tipos de Culinária

In [52]:
# 1. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a maior média de avaliação?

# Filtrar os restaurantes de culinária italiana
df_italian = df[df['cuisines'] == 'Italian']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_italian.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
best_italian_restaurant = restaurant_avg_rating.idxmax()
best_italian_rating = restaurant_avg_rating.max()

best_italian_restaurant

'Amano Restaurant'

In [53]:
# 2. Dos restaurantes que possuem o tipo de culinária italiana, qual o nome do
# restaurante com a menor média de avaliação?

df_italian = df[df['cuisines'] == 'Italian']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_italian.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a menor média de avaliação
worst_italian_restaurant = restaurant_avg_rating.idxmin()
worst_italian_rating = restaurant_avg_rating.min()
worst_italian_restaurant

'Avenida Paulista'

In [54]:
# 3. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a maior média de avaliação?

df_american = df[df['cuisines'] == 'American']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_american.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
best_american_restaurant = restaurant_avg_rating.idxmax()
best_american_restaurant

'5 Napkin Burger'

In [55]:
# 4. Dos restaurantes que possuem o tipo de culinária americana, qual o nome do
# restaurante com a menor média de avaliação?

df_american = df[df['cuisines'] == 'American']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_american.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
worst_american_restaurant = restaurant_avg_rating.idxmin()
worst_american_restaurant

'Alston Bar & Beef'

In [56]:
# 5. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a maior média de avaliação?

df_arab = df[df['cuisines'] == 'Arabian']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_arab.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
best_arab_restaurant = restaurant_avg_rating.idxmax()
best_arab_restaurant

'Mandi@36'

In [57]:
# 6. Dos restaurantes que possuem o tipo de culinária árabe, qual o nome do
# restaurante com a menor média de avaliação?

df_arab = df[df['cuisines'] == 'Arabian']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_arab.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
worst_arab_restaurant = restaurant_avg_rating.idxmin()
worst_arab_restaurant

'Raful'

In [58]:
# 7. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a maior média de avaliação?

df_japa = df[df['cuisines'] == 'Japanese']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_japa.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
worst_japa_restaurant = restaurant_avg_rating.idxmax()
worst_japa_restaurant

'Chotto Matte'

In [59]:
# 8. Dos restaurantes que possuem o tipo de culinária japonesa, qual o nome do
# restaurante com a menor média de avaliação?

df_japa = df[df['cuisines'] == 'Japanese']

# Agrupar por nome do restaurante e calcular a média das avaliações
restaurant_avg_rating = df_japa.groupby('restaurant_name')['aggregate_rating'].mean()

# Encontrar o restaurante com a maior média de avaliação
worst_japa_restaurant = restaurant_avg_rating.idxmin()
worst_japa_restaurant

'Banzai Sushi'

In [60]:
df['cuisines'].unique()

array(['Italian', 'European', 'Filipino', 'American', 'Korean', 'Pizza',
       'Taiwanese', 'Japanese', 'Coffee', 'Chinese', 'Seafood',
       'Singaporean', 'Vietnamese', 'Latin American', 'Healthy Food',
       'Cafe', 'Fast Food', 'Brazilian', 'Argentine', 'Arabian', 'Bakery',
       'Tex-Mex', 'Bar Food', 'International', 'French', 'Steak',
       'German', 'Sushi', 'Grill', 'Peruvian', 'North Eastern',
       'Ice Cream', 'Burger', 'Mexican', 'Vegetarian', 'Contemporary',
       'Desserts', 'Juices', 'Beverages', 'Spanish', 'Thai', 'Indian',
       'Mineira', 'BBQ', 'Mongolian', 'Portuguese', 'Greek', 'Asian',
       'Author', 'Gourmet Fast Food', 'Lebanese', 'Modern Australian',
       'African', 'Coffee and Tea', 'Australian', 'Middle Eastern',
       'Malaysian', 'Tapas', 'New American', 'Pub Food', 'Southern',
       'Diner', 'Donuts', 'Southwestern', 'Sandwich', 'Irish',
       'Mediterranean', 'Cafe Food', 'Korean BBQ', 'Fusion', 'Canadian',
       'Breakfast', 'Cajun', 'New Mexican', 'Belgian', 'Cuban', 'Taco',
       'Caribbean', 'Polish', 'Deli', 'British', 'California', 'Others',
       'Eastern European', 'Creole', 'Ramen', 'Ukrainian', 'Hawaiian',
       'Patisserie', 'Yum Cha', 'Pacific Northwest', 'Tea', 'Moroccan',
       'Burmese', 'Dim Sum', 'Crepes', 'Fish and Chips', 'Russian',
       'Continental', 'South Indian', 'North Indian', 'Salad',
       'Finger Food', 'Mandi', 'Turkish', 'Kerala', 'Pakistani',
       'Biryani', 'Street Food', 'Nepalese', 'Goan', 'Iranian', 'Mughlai',
       'Rajasthani', 'Mithai', 'Maharashtrian', 'Gujarati', 'Rolls',
       'Momos', 'Parsi', 'Modern Indian', 'Andhra', 'Tibetan', 'Kebab',
       'Chettinad', 'Bengali', 'Assamese', 'Naga', 'Hyderabadi', 'Awadhi',
       'Afghan', 'Lucknowi', 'Charcoal Chicken', 'Mangalorean',
       'Egyptian', 'Malwani', 'Armenian', 'Roast Chicken', 'Indonesian',
       'Western', 'Dimsum', 'Sunda', 'Kiwi', 'Asian Fusion', 'Pan Asian',
       'Balti', 'Scottish', 'Cantonese', 'Sri Lankan', 'Khaleeji',
       'South African', 'Drinks Only', 'Durban', 'World Cuisine',
       'Izgara', 'Home-made', 'Giblets', 'Fresh Fish', 'Restaurant Cafe',
       'Kumpir', 'Döner', 'Turkish Pizza', 'Ottoman', 'Old Turkish Bars',
       'Kokoreç'], dtype=object)

In [61]:
# 11. Qual o tipo de culinária que possui o maior valor médio de um prato para duas pessoas? 

cuisine_avg_cost = df.groupby('cuisines')['average_cost_for_two'].mean()

# Encontrar o tipo de culinária com o maior valor médio
max_avg_cuisine = cuisine_avg_cost.idxmax()
max_avg_value = cuisine_avg_cost.max()
max_avg_cuisine

'Modern Australian'

In [62]:
# 12. Qual o tipo de culinária que possui a maior nota média?

cuisine_avg_rating = df.groupby('cuisines')['aggregate_rating'].mean()

# Encontrar o tipo de culinária com a maior média de notas
max_avg_cuisine = cuisine_avg_rating.idxmax()
max_avg_value = cuisine_avg_rating.max()
max_avg_cuisine

'Others'

In [63]:
# 13. Qual o tipo de culinária que possui mais restaurantes que aceitam pedidos
# online e fazem entregas?

# Filtrar os restaurantes que aceitam pedidos online e fazem entregas
df_online_delivery = df[(df['has_online_delivery'] == 1) & (df['has_table_booking'] == 1)]

# Contar o número de restaurantes para cada tipo de culinária
cuisine_count = df_online_delivery['cuisines'].value_counts()

# Identificar o tipo de culinária com o maior número de restaurantes
max_cuisine = cuisine_count.idxmax()
max_count = cuisine_count.max()

max_cuisine

'North Indian'

# Execute

O CEO também pediu que fosse gerado um dashboard que permitisse que ele
visualizasse as principais informações das perguntas que ele fez. O CEO precisa
dessas informações o mais rápido possível, uma vez que ele também é novo na
empresa e irá utilizá-las para entender melhor a empresa Fome Zero para conseguir
tomar decisões mais assertivas.